.project-card-body {
    height: 100%;
}

.project-card-header {
    p {
        color: var(--secondary-foreground);
    }
}

.project-card-body-text {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    overflow: hidden;
}

.project-card-timeleft {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
    gap: 0.5rem;
    background-color: var(--secondary)
}

.project-card-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.project-card-users {
    display: flex;
    gap: 0.5rem;
    width: fit-content;

    img {
            width: 40px;
        }
}



